html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(140, 140, 140);
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

#header {
    background-color: rgb(250, 250, 250);
}

.icon_mascarilla {
    width: 40px;
    height: 40px;
    filter: invert(63%) sepia(13%) saturate(1164%) hue-rotate(75deg) brightness(89%) contrast(92%);
}

#presentacion {
    padding: 2.5% 0;
}

.modelo_masc1 {
    width: 50vh;
    height: auto;
}

#footer {
    height: 10vh;
    background-color: rgb(250, 250, 250);
    color: rgb(160, 160, 160);
}

.collapse {
    font-size: 15px;
}