html {
    position: relative;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.entire-container {
    margin: 250px;
    margin-top: 40px;
}

.cabecera {
    
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    margin-top: 50px;
}

.payment-type {
    padding-bottom: 20px;
    font-size: 15px;
    padding-top: 15px;
}

.btn-succes {
    padding-top: 30px;
}

.resumen-container {
    font-size: 13px;
    border: rgb(163, 163, 163) .5px;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#subtotal #envio #total {
    text-align: left;
}

#precio1 {
    text-align: right;
}

#precio2 {
    text-align: right;
}

#precio3 {
    text-align: right;
}

.cesta {
    padding-top: 20px;
}

.cesta-container {
    padding-top: 20px;
}

img {
    text-align: left;
}

.description {
    text-align: right;
}

.envio-direccion {
    border: gray;
    background-color: rgb(146, 145, 145);
    padding: 20px;
    margin-bottom: 0px;
}

.address-container {
    border: rgb(163, 163, 163) .5px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.payment {
    margin-top: 10px;
    margin-bottom: 10px;
}

.payment-container {
    border: rgb(163, 163, 163) .5px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.resumen {
    border: gray;
    background-color: rgb(146, 145, 145);
    padding: 10px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 500;
}

.footer {
    margin-top: 20px;
    padding-top: 20px;
}

button {
    margin-bottom: 20px;
}

